recursive-exclude docs *
recursive-exclude tests *
include energy_fault_detector/VERSION
include energy_fault_detector/ABOUT
include energy_fault_detector/c2c_options.yaml
include energy_fault_detector/base_config.yaml
exclude notebooks/*